.profileRoot {
  position: relative;
  align-items: center;
}

.profileCard {
  width: 600px;
  margin: 0 auto;
}

.patientData{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.allergyList{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: aqua;
    margin: 0, 5, 5, 0;
}